<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Doc Data</title>
    <!-- Google Maps API -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main></main>




    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/config.js"></script>

    <script src="/components/Main/Main.js"></script>
    <script src="/components/Main/MainController.js"></script>
    <script src="/components/Login/Login.js"></script>
    <script src="/components/Login/LoginController.js"></script>
    <script src="/components/Register/Register.js"></script>
    <script src="/components/Register/RegisterController.js"></script>
    <script src="/components/Map/Map.js"></script>
    <script src="/components/Map/MapController.js"></script>
    <script src="/factories/MapFactory.js"></script>
    <script src="/factories/UserFactory.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWuwnjICGrycSCpKYz0PMoARttbpMS28M" async defer></script>
</body>
</html>