<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Doc Data</title>
    <script src="/javascripts/libs/lodash.min.js"></script>
    <script src="/javascripts/libs/angular.js"></script>
    <script src="/javascripts/libs/angular-ui-router.js"></script>
    <script src="/javascripts/libs/ui-bootstrap-tpls.js"></script>
    <script src='/javascripts/libs/angular-simple-logger.min.js'></script>
    <script src="/javascripts/libs/angular-google-maps.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main></main>




    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/config.js"></script>

    <script src="/components/Main/Main.js"></script>
    <script src="/components/Main/MainController.js"></script>
    <script src="/components/Login/Login.js"></script>
    <script src="/components/Login/LoginController.js"></script>
    <script src="/components/Register/Register.js"></script>
    <script src="/components/Register/RegisterController.js"></script>
    <script src="/components/Map/Map.js"></script>
    <script src="/components/Map/MapController.js"></script>
    <script src="/factories/MapFactory.js"></script>
    <script src="/factories/UserFactory.js"></script>

</body>
</html>