<form ng-submit="$ctrl.getMarkers()">
    <label for="user-query-text">Type in a text query to load tracks (ex: water, hot, tramway)</label>
    <input type="text" id="user-query-text" ng-model="$ctrl.userQuery.text" placeholder="$ctrl.userQuery.text">
    <button type="submit">Submit</button>
</form>


<span style="color:red" ng-show="$ctrl.message">{{$ctrl.message}}</span>
<ui-gmap-google-map center='$ctrl.map.center' zoom='$ctrl.map.zoom'>
    <ui-gmap-marker ng-repeat="track in $ctrl.tracks" idKey = '$index' coords = 'track.geometry.paths'></ui-gmap-marker>
</ui-gmap-google-map>


